%editor-root {
  position: relative;
  z-index: 100;
}

%toolbar {
  align-items: center;
  border-radius: 3px;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  position: absolute;
  z-index: 500;
}

%toolbar-float {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.2);
  left: 40%;
  opacity: 0;
  transition: top, opacity .2s ease;
  width: fit-content;
}

$toolbar-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.2);

%toolbar-button {
  cursor: pointer;
  display: block;
  height: 40px;
  position: relative;
  transition: background-color, box-shadow .2s ease;
  width: 40px;
}

%toolbar-button-hover {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

%toolbar-button-active {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
}

%toolbar-button-icon {
  fill: currentColor;
  width: 100%;
}

%toolbar-input {
  border: none;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  min-width: 360px;
  padding: 12px;
}

%toolbar-nested {
  border-radius: 0 0 3px 3px;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: calc(100% + 1px);
  width: fit-content;
}

%toolbar-nested-button {
  padding: 5px 15px;
  overflow: auto !important;
  width: auto !important;
}