@import 'base';

$primary_color: #263238;

.richtext-editor {
  @extend %editor-root;

  .public-DraftEditor-content[contenteditable=true] {
    min-height: 200px;
  }

  .public-DraftEditorPlaceholder-root {
    padding: 1.2rem 0;
  }
}

.public-DraftEditorPlaceholder-inner {
  font-size: 16px;
  padding-top: 8px;
}

.editor-toolbar {
  @extend %toolbar;
  background-color: $primary_color;

  &.visible-true {
    opacity: 1;
  }

  &.visible-false {
    opacity: 0;
  }

  &.toolbar-float {
    @extend %toolbar-float;
    border: 1px solid darken($primary_color, 25%);
    box-shadow: inset 0 1px 2px lighten($primary_color, 10%), inset 0 2px 5px lighten($primary_color, 5%), $toolbar-shadow;
  }

  .toolbar-button {
    @extend %toolbar-button;
    color: #CDD8DE;

    &:hover, &.active {
      @extend %toolbar-button-hover;
    }

    &:active {
      @extend %toolbar-button-active;
    }

    &.visible {
      overflow: visible;
      width: 40px;
    }

    &.hidden {
      overflow: hidden;
      width: 0;
    }

    + .toolbar-button {
      border-left: 1px solid lighten($primary_color, 5%);
      width: 41px;
    }

    &.confirm {
      color: #63c394;
    }

    &.cancel {
      color: #c36363;
    }
  }

  svg {
    @extend %toolbar-button-icon;
  }

  .nested {
    @extend %toolbar-nested;
    background-color: lighten($primary_color, 10%);
    box-shadow: $toolbar-shadow;
    display: none;

    .toolbar-button {
      @extend %toolbar-nested-button;

      + .toolbar-button {
        border-left: none;
        border-top: 1px solid lighten($primary_color, 5%);
        width: auto;
      }
    }
  }

  .show-nested {
    .nested {
      display: block;
    }
  }

  .toolbar-input {
    @extend %toolbar-input;
    background: #f7fbfd;
    color: $primary_color;
    margin-right: 5px;
  }
}

.editor-media {
  @extend %toolbar;
  @extend %toolbar-float;

  flex-direction: column;
  margin-left: -8rem;

  &.visible-true {
    opacity: 1;
  }
}