.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &.visible {
    display: flex;
  }

  .modal-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    max-width: 90%;
    max-height: 320px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    .modal-content {
      h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
        text-align: center;
      }

      .select-option {
        display: flex;
        gap: 4px;
        flex-direction: column;

        label {
          font-weight: bold;
        }

        select {
          width: 100%;
          padding: 7px 0;
          margin-bottom: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;

          p {
            font-size: 1rem;
            margin-bottom: 20px;
          }
        }
      }

      .button-view {
        text-align: center;

        .close-button {
          background-color: #007bff;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 4px;
          cursor: pointer;
          font-size: 1rem;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .quation-modal {
        text-align: center;
      }
    }


  }

  .add-option-popup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: gainsboro;
    position: absolute;

    input {
      width: 100%;
      padding: 7px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .button-view {
      text-align: center;

      .close-button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}