/** @format */

$color-n0: #fff;
$color-n100: #fdfdfd;
$color-n200: #eaeaea;
$color-n300: #dcdcdc;
$color-n400: #bfbfbf;
$color-n500: #a4a4a4;
$color-n600: #838383;
$color-n700: #636363;
$color-n800: #3d3d3d;
$color-n900: #262626;

$color-g100: #f8fffe;
$color-g200: #e6f2f1;
$color-g300: #c8e1de;
$color-g400: #8fdacf;
$color-g500: #65d8c7;
$color-g600: #0eaf96;
$color-g700: #0c9682;
$color-g800: #097061;
$color-g900: #064f44;

$color-brand-1: #ff5c38;
$color-brand-2: #fcf051;
$color-brand-3: #0eaf96;

$color-language-border: #faec2e;
$color-language-background: #faec2e55;

$toolbar-height: 40px;

%Main {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  width: 100%;
}
