/** @format */

.auth {
  margin: 0 auto;
  max-width: 40rem;
  padding: 2rem;
}

.Form {
  display: flex;
  flex-direction: column;
}

.auth input[type='text'],
.auth input[type='password'] {
  background: #fff;
  border: none;
  border-bottom: 2px solid var(--color-n300);
  border-radius: 1rem;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  color: var(--color-brand-0);
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin: 1rem 0;
  padding: 1.5rem;
  transition: border 0.3s;
}

.auth input:focus {
  border-color: var(--color-n800);
  outline: none;
}

.button.primary {
  background-color: var(--color-brand-1);
  color: #fff;
  flex: 1;
  padding: 1.2rem 2.5rem;
}

.button.secondary {
  background-color: var(--color-brand-2);
}

.button + .button {
  margin-left: 2rem;
}

.LinkRow {
  font-size: 1.6rem;
  margin: 0 2.5rem 0 0;
  padding: 2rem 0 0rem 0;
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s;
}

.LinkRow a {
  border-bottom: 1px solid;
  color: var(--color-brand-0);
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 0 0.4rem 0;
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s;
}

.LinkRow a + a {
  margin-left: 2.5rem;
}

.LinkRow a:hover {
  color: var(--color-brand-3);
}

.Account h1 {
  font-size: 2.8rem;
  font-weight: 700;
  padding: 0.5rem 0 1rem 0;
}

.Account p {
  font-size: 1.6rem;
  padding: 1rem 0;
}
