/**
 * Recommendations
 */

$action-height: 27px;

#RevisionApp {
  // Editor content formatting
  .ProseMirror {
    ul, ol {
      padding: 15px;
    }

    ul li {
      list-style-type: disc;
    }

    li { line-height: 1; }

    li + li {
      padding-top: 15px;
    }
  }

  .tippy-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    line-height: 1.65;
    overflow: hidden;

    .header {
      background: $color-n800;
      height: $action-height;
      line-height: 1;
      padding: 0 10px;

      .action {
        display: inline-flex;
        justify-content: center;
        transition: background-color .2s;

        span {
          display: none;
        }

        svg {
          height: $action-height;
          width: $action-height;
        }

        .path {
          fill: $color-n100;
        }

        + .action {
          margin-left: 10px;
        }

        &:hover {
          background-color: $color-n700;
        }

        &.active {
          .path { fill: $color-brand-3; }
        }
      }
    }

    .message {
      padding: 10px 15px;
    }

    .suggestions {
      border-top: 2px solid $color-n300;
      font-style: italic;
      margin: 0;
      padding: 0;

      li {
        background-color: $color-n100;
        color: $color-n900;
        cursor: pointer;
        font-weight: 600;
        line-height: 1.5;
        margin: 0;
        padding: 8px 15px;
        transition: background-color 0.2s, color 0.2s;

        +li {
          border-top: 1px solid $color-n300;
        }

        &:hover {
          background-color: $color-g300;
          color: $color-n900;
        }
      }
    }
  }

  .bias {
    background-color: lighten($color-brand-2, 25%);

    &:hover {
      background-color: $color-brand-2;
    }
  }

  .language {
    background: transparent;
    border-bottom: 2px solid $color-brand-2;
    transition: background 0.25s ease-in-out;

    // &::selection {
    //   background-color: $color-brand-2;
    // }

    &.style {
      border-color: #9d8eff;

      &:hover, &::selection {
        background: lighten(#9d8eff, 12%);
      }
    }

    &.typographical,
    &.non-conformance,
    &.grammar {
      border-color: #ffb61a;

      &:hover, &::selection {
        background: lighten(#e4b868, 15%);
      }
    }

    &.misspelling,
    &.whitespace {
      border-color: $color-brand-1;

      &:hover, &::selection {
        background: lighten($color-brand-1, 30%);
      }
    }
  }
}