/**
 * Recommendations
 */
#RevisionApp {
  .tippy-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    line-height: 1.65;
    overflow: hidden;

    .header {
      background: $color-n200;
      border-bottom: 1px solid $color-n300;
      line-height: 1;
      padding: 10px 15px;

      .action {
        height: 14px;
        width: 14px;

        span {
          display: none;
        }

        svg {
          height: 14px;
          width: 14px;
        }
      }
    }

    .message {
      padding: 10px 15px;
    }

    .suggestions {
      border-top: 2px solid $color-n300;
      font-style: italic;
      margin: 0;
      padding: 0;

      li {
        background-color: $color-n100;
        color: $color-n900;
        cursor: pointer;
        font-weight: 600;
        line-height: 1.5;
        margin: 0;
        padding: 8px 15px;
        transition: background-color 0.2s, color 0.2s;

        +li {
          border-top: 1px solid $color-n300;
        }

        &:hover {
          background-color: $color-g300;
          color: $color-n900;
        }
      }
    }
  }


  .bias {
    background-color: lighten($color-brand-2, 25%);

    &:hover {
      background-color: $color-brand-2;
    }
  }

  .language {
    background: transparent;
    border-bottom: 2px solid $color-brand-2;
    transition: background 0.25s ease-in-out;

    // &::selection {
    //   background-color: $color-brand-2;
    // }

    &.style {
      border-color: #9d8eff;

      &:hover, &::selection {
        background: lighten(#9d8eff, 12%);
      }
    }

    &.typographical,
    &.non-conformance,
    &.grammar {
      border-color: #ffb61a;

      &:hover, &::selection {
        background: lighten(#e4b868, 15%);
      }
    }

    &.misspelling,
    &.whitespace {
      border-color: $color-brand-1;

      &:hover, &::selection {
        background: lighten($color-brand-1, 30%);
      }
    }
  }
}