/** @format */

#gmailRoot {
  // bottom: 0;
  // left: 0;
  // position: absolute;
  // right: 0;
  // top: 0;

  #RevisionApp .Main {
    height: 80vh;
    left: 50%;
    margin: 0;
    overflow: scroll;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
  }

  .action.close {
    cursor: pointer;
    position: absolute;
    right: 5rem;
    top: 5rem;
    z-index: 900;

    .FillLayer {
      fill: #fff;
    }

    span {
      visibility: hidden;
    }
  }
}

#RevisionApp {
  font-size: 10px;


  a {
    color: #3366cc;
    font-weight: 600;
    text-decoration: underline;
    transition: color 0.2s;
  }

  a:hover {
    color: $color-n900;
  }

  .Main {
    @extend %Main;
    padding: $toolbar-height 0;
  }

  .Overlay {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    bottom: 0;
    content: ' ';
    left: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
    z-index: -1;

    &.visible {
      opacity: 1;
      z-index: 800;
    }

  }

  .page.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
  }

  .ProseMirror,
  .Revision {
    background: #fff;
    border: none;
    color: $color-n900;
    direction: ltr;
    font-size: 14px;
    line-height: 1.85;
    margin: 0 auto;
    min-height: 500px;
    min-width: 500px;
    padding: 20px;
    outline: none;
  }

  .bias {
    background: none;
    border-bottom: 2px solid;
    cursor: pointer;
    color: $color-n900;
    position: relative;
  }

  .bias.language {
    border-color: $color-language-border;
  }
}

.infinite-campus {
  margin-top: 60px;

  .Main {
    z-index: 100000000 !important;
  }
}

/**
 * Copy and Body Styles
 */
#RevisionApp {
  .copy {
    line-height: 1.65;
    padding: 20px;

    &.centered {
      margin: 0 auto;
      text-align: center;
    }

    &.large {
      p {
        font-size: 20px;
      }
    }

    h1 {
      font-size: 32px;
      font-weight: 700;
      padding: 20px 0 10px;
    }

    p {
      font-size: 18px;
    }

    p+p {
      padding-top: 15px;
    }
  }
}

/**
 * Recommendations
 */
#RevisionApp {
  .tippy-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    line-height: 1.65;
    overflow: hidden;

    .header {
      background: $color-n200;
      border-bottom: 1px solid $color-n300;
      line-height: 1;
      padding: 10px 15px;

      .action {
        height: 14px;
        width: 14px;

        span {
          display: none;
        }

        svg {
          height: 14px;
          width: 14px;
        }
      }
    }

    .message {
      padding: 10px 15px;
    }

    .suggestions {
      border-top: 2px solid $color-n300;
      font-style: italic;
      margin: 0;
      padding: 0;

      li {
        background-color: $color-n100;
        color: $color-n900;
        cursor: pointer;
        font-weight: 600;
        line-height: 1.5;
        margin: 0;
        padding: 8px 15px;
        transition: background-color 0.2s, color 0.2s;

        +li {
          border-top: 1px solid $color-n300;
        }

        &:hover {
          background-color: $color-g300;
          color: $color-n900;
        }
      }
    }
  }

  .lt {
    transition: background 0.25s ease-in-out;
    background: rgba($color: #ff5c38, $alpha: 0.2);

    &:hover {
      background: rgba($color: #ff5c38, $alpha: 0.2);
      border-bottom: 2px solid #ff5c38;
    }

    &.lt-style {
      background: none !important;
      border-bottom: 2px solid #9d8eff;

      &:hover {
        background: rgba($color: #9d8eff, $alpha: 0.2) !important;
      }
    }

    &.lt-typographical,
    &.lt-grammar {
      border-bottom: 2px solid #ffb61a;
      background: none !important;

      &:hover {
        background: rgba($color: #e4b868, $alpha: 0.2) !important;
      }
    }

    &.lt-misspelling,
    &.lt-whitespace {
      background: none !important;
      text-decoration-line: underline;
      text-decoration-style: wavy;
      text-decoration-color: red;
      text-decoration-thickness: -0.1em !important;

      &:hover {
        background: rgba($color: #e86a69, $alpha: 0.2) !important;
      }
    }
  }
}

.emoji-wrapper {
  position: absolute;
  right: 10px;
  top: 50px;

  span {
    font-size: 25px;
  }

  .emoji-container {
    position: relative;

    .current-emoji {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 2px solid #ddd;
      z-index: 2;
      background-color: #FF5C38;
      cursor: pointer;

      svg {
        height: 18px;
        fill: white;
      }

      &.loading {
        svg {
          animation: rotation infinite 2s linear;
        }
      }

      &.no-load {
        background-color: white;
      }

      p {
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
        user-select: none;
        font-size: 18px;

        &.visible {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .emoji {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      user-select: none;
      animation: emojiAnimation 2s linear;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(-360deg)
  }
}

@keyframes emojiAnimation {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  20% {
    font-size: 50px;
  }

  40% {
    font-size: 30px;
  }

  60% {
    font-size: 50px;
  }

  80% {
    font-size: 30px;
  }

  100% {
    transform: translate(0, calc(500px));
    opacity: 0;
    font-size: 50px;
  }
}