/** @format */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

:root {
  --color-n0: #fcfaf6;
  --color-n100: #fffcf5;
  --color-n200: #fcf7eb;
  --color-n300: #eee9de;
  --color-n400: #d9ceb8;
  --color-n500: #c8bca6;
  --color-n600: #ada18a;
  --color-n700: #7d7970;
  --color-n800: #4e4c48;
  --color-n900: #242321;

  --color-brand-0: #4e4c48;
  --color-brand-1: #e05845;
  --color-brand-2: #faec2e;
  --color-brand-3: #0eaf96;

  --color-language-border: #faec2e;
  --color-language-background: #faec2e55;

  --toolbar-height: 4rem;
}

body,
html {
  background: #fff;
  font-size: 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 50rem;
  min-width: 50rem;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  overflow: scroll;
  text-align: left;
}

p {
  margin: 0;
  padding: 0;
}

p + p {
  padding-top: 1rem;
}

a {
  color: var(--color-brand-1);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--color-n900);
}

.App {
  background: var(--color-n200);
  margin: 0 auto;
  min-height: 50rem;
  min-width: 50rem;
  max-width: 80rem;
  overflow: hidden;
  position: relative;
}

.page.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50rem;
}

.ProseMirror {
  background: #fff;
  border: none;
  color: var(--color-n900);
  font-size: 1.6rem;
  line-height: 1.85;
  margin: 0 auto;
  padding: 3rem;
  outline: none;
}

mark,
.bias {
  background: none;
  border-bottom: 2px solid;
  cursor: pointer;
  color: var(--color-n900);
  position: relative;
}

.bias.language {
  border-color: var(--color-language-border);
}

.button {
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  color: var(--color-n800);
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  justify-content: center;
  padding: 1.2rem 2rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  transition: border-color 0.2s, box-shadow 0.2s, color 0.2s, transform 0.2s;
  white-space: nowrap;
}

.button.bordered {
  background: transparent;
  border: 2px solid var(--color-brand-1);
  color: var(--color-brand-1);
  display: block;
  font-size: 1.4rem;
  margin: 2rem auto 0;
  padding: 1rem 2rem;
  text-shadow: none;
  white-space: nowrap;
}

.button.icon svg {
  height: 2rem;
  margin-right: 1.5rem;
}

.button.icon-only {
  border-radius: 50%;
}

.button.icon-only span {
  display: none;
}

.button:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.button.bordered[disabled] {
  border-color: var(--color-n400);
  color: var(--color-n400);
}

.button.bordered[disabled]:hover {
  box-shadow: none;
  transform: none;
}

.ButtonRow {
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
  padding: 1.5rem 0;
}

.ButtonRow.centered {
  justify-content: space-around;
}

/**
 * Copy and Body Styles
 */
.copy {
  line-height: 1.65;
  padding: 2rem;
}

.copy.centered {
  margin: 0 auto;
  text-align: center;
}

.copy.large,
.copy.large p {
  font-size: 2rem;
}

.copy h1 {
  font-size: 3.2rem;
  font-weight: 700;
  padding: 2rem 0 1rem;
}

.copy p {
  font-size: 1.8rem;
}

.copy p + p {
  padding-top: 1.5rem;
}
