/** @format */

#gmailRoot {
  #RevisionApp .Main {
    height: 80vh;
    left: 50%;
    margin: 0;
    overflow: scroll;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
  }

  .action.close {
    cursor: pointer;
    position: absolute;
    right: 5rem;
    top: 5rem;
    z-index: 900;

    .FillLayer {
      fill: #fff;
    }

    span {
      visibility: hidden;
    }
  }
}

#RevisionApp,
:host {
  font-size: 10px;

  a {
    color: #3366cc;
    font-weight: 600;
    text-decoration: underline;
    transition: color 0.2s;
  }

  a:hover {
    color: $color-n900;
  }

  .Main {
    @extend %Main;
    padding: $toolbar-height 0;
  }

  .Overlay {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    bottom: 0;
    content: ' ';
    left: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
    z-index: -1;

    &.visible {
      opacity: 1;
      z-index: 800;
    }

  }

  .page.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
  }

  .ProseMirror,
  .Revision {
    background: #fff;
    border: none;
    color: $color-n900;
    direction: ltr;
    font-size: 14px;
    line-height: 1.85;
    margin: 0 auto;
    min-height: 300px;
    padding: 20px;
    outline: none;
    width: 100%;
  }

  &.google-docs {
    .ProseMirror {
      min-width: unset;
    }
  }
}

.infinite-campus {
  margin-top: 60px;

  .Main {
    z-index: 100000000 !important;
  }
}

/**
 * Copy and Body Styles
 */
#RevisionApp,
:host {
  .copy {
    line-height: 1.65;
    padding: 20px;

    &.centered {
      margin: 0 auto;
      text-align: center;
    }

    &.large {
      p {
        font-size: 20px;
      }
    }

    h1 {
      font-size: 32px;
      font-weight: 700;
      padding: 20px 0 10px;
    }

    p {
      font-size: 18px;
    }

    p+p {
      padding-top: 15px;
    }
  }
}