/** @format */

.PrimaryNav {
  background: var(--color-n100);
  bottom: 0;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  right: -17rem;
  top: 0;
  transition: right 0.5s, box-shadow 0.3s;
  width: 15rem;
  z-index: 500;
}

.PrimaryNav.open {
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
  right: 0;
}

.Overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  bottom: 0;
  content: ' ';
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
  width: 100%;
  z-index: -1;
}

.Overlay.visible {
  opacity: 1;
  z-index: 400;
}

.PrimaryNav a {
  color: var(--color-n900);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.PrimaryNav a:hover {
  color: var(--color-brand-1);
}

.PrimaryNav .Toggle {
  background-color: var(--color-brand-1);
  height: 4rem;
  left: -4rem;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  width: 4rem;
}

.PrimaryNav .Toggle svg {
  width: 2rem;
}

.PrimaryNav .Toggle .path {
  stroke: var(--color-n100);
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-width: 5px;
  transition: stroke 0.2s, stroke-width 0.3s;
}

.PrimaryNav .Toggle:hover .path {
  stroke-width: 10px;
}

.PrimaryNav.open .Toggle {
  background-color: var(--color-n100);
}

.PrimaryNav.open .Toggle .path {
  stroke: var(--color-n900);
}

.PrimaryNav .Toggle .FillLayer {
  fill: var(--color-n900);
}

.PrimaryNav .Toggle:hover .FillLayer {
  fill: var(--color-brand-1);
}

.PrimaryNav .Toggle.loading .path {
  animation: loading 10s linear infinite;
  stroke-dasharray: 145;
}

@keyframes loading {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 300;
  }
}
