/** @format */
@import './variables';

#RevisionApp {
  .PrimaryNav {
    background: $color-n100;
    bottom: 0;
    box-shadow: 0 0 rgba(0, 0, 0, 0);
    position: fixed;
    right: -150px;
    top: 0;
    transition: right 0.5s, box-shadow 0.3s;
    width: 150px;
    z-index: 900;

    &.open {
      box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
      right: 0;
    }

    .links {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    a {
      color: $color-n900;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 15px;
      text-decoration: none;
      transition: color 0.3s;

      &:hover,
      &.active {
        color: $color-brand-1;
      }
    }

    .Toggle {
      background-color: $color-brand-1;
      height: $toolbar-height;
      left: -$toolbar-height;
      margin: 0;
      padding: 0;
      position: absolute;
      width: $toolbar-height;

      svg {
        display: block;
        margin: 0;
        padding: 8px;
        width: 25px;
      }

      .path {
        stroke: $color-n100;
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        stroke-width: 5px;
        transition: stroke 0.2s, stroke-width 0.3s;
      }

      &:hover .path {
        stroke-width: 10px;
      }
    }

    &.open {
      .Toggle {
        background-color: $color-n100;

        .path {
          stroke: $color-n900;
        }

        .FillLayer {
          fill: $color-n900;
        }

        &:hover {
          .FillLayer {
            fill: $color-brand-1;
          }
        }
      }
    }
  }
}
