/** @format */

.Toolbar {
  background: var(--color-n800);
  padding: 0.5rem 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.Toolbar .actions {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.2rem;
}

.Toolbar .actions button {
  background: transparent;
  border: none;
  display: block;
  line-height: 0;
  margin: 0;
  padding: 0.5rem;
  position: relative;
}

.Toolbar .actions button + button {
  margin-left: 1.5rem;
}

.Toolbar .actions .tooltip {
  background: var(--color-n100);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  display: block;
  left: 0.4rem;
  line-height: 1.65;
  opacity: 0;
  padding: 1.5rem;
  position: absolute;
  text-align: left;
  top: -100vh;
  min-width: 25rem;
  max-width: 50rem;
  transition: opacity 0.3s;
  width: 100%;
  z-index: -1;
}

.Toolbar .actions .tooltip::before {
  border-color: transparent transparent var(--color-n100) transparent;
  border-style: solid;
  border-width: 0.6rem;
  content: ' ';
  left: 1rem;
  margin-left: -5px;
  position: absolute;
  top: -1.2rem;
}

.Toolbar .actions button.active .tooltip {
  opacity: 1;
  top: 3.5rem;
  z-index: 50;
}

.Toolbar button + button {
  margin-left: 0.5rem;
}

.Toolbar button:hover .FillLayer {
  fill: var(--color-brand-2);
}

.Toolbar button:hover .StrokeLayer {
  stroke: var(--color-brand-2);
}

.Toolbar button.active .FillLayer {
  fill: var(--color-brand-2);
  transition: fill 0.3s;
}

.Toolbar button.active .StrokeLayer {
  stroke: var(--color-brand-2);
  transition: stroke 0.3s;
}

.Toolbar button svg {
  height: 2rem;
}

.Toolbar .FillLayer {
  fill: var(--color-n300);
  transition: fill 0.25s;
}

/**
 * Custom Buttons
 */
.Toolbar .reload.fetching {
  animation: spin 5s infinite linear;
}

.Toolbar .rewrite .StrokeLayer {
  stroke: var(--color-n100);
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-width: 5px;
  transition: stroke 0.2s, stroke-width 0.3s;
}

.Toolbar .rewrite.fetching .StrokeLayer {
  animation: fetching 10s linear infinite;
  stroke-dasharray: 145;
}

.Revision {
  font-size: 1.6rem;
  line-height: 1.65;
  padding: 2rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fetching {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 300;
  }
}
