/** @format */

.Revise {
  background: var(--color-n100);
  padding: 3rem;
}

.Revise .Toolbar {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.2rem;
  justify-content: space-between;
}

.Revise .Actions {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.Toolbar button {
  background: transparent;
  border: none;
  line-height: 0;
  margin: 0;
  padding: 0.5rem;
}

.Toolbar button + button {
  margin-left: 0.5rem;
}

.Toolbar button:hover .FillLayer {
  fill: var(--color-n900);
}

.Toolbar button.active .FillLayer {
  fill: var(--color-brand-1);
  transition: fill 0.3s;
}

.Toolbar button svg {
  height: 2rem;
}

.Toolbar .FillLayer {
  fill: var(--color-n700);
  transition: fill 0.25s;
}

.Toolbar .count {
  color: var(--color-n700);
  font-size: 1.5rem;
  margin-left: 1rem;
  white-space: nowrap;
}

.Toolbar .replace .FillLayer {
  fill: var(--color-brand-3);
}

.Toolbar .replace.active .FillLayer {
  fill: var(--color-brand-1);
}

.Suggestion,
.Revision {
  font-size: 1.6rem;
  line-height: 1.65;
  padding: 2rem 0 0;
}
