/** @format */
@import './_variables';

#RevisionApp {
  .Toolbar {
    background: $color-n800;
    font-size: 10px;
    height: $toolbar-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .actions {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      font-size: 12px;

      button {
        background: transparent;
        border: none;
        display: block;
        height: $toolbar-height;
        line-height: 0;
        margin: 0 0 0 15px;
        padding: 8px;
        position: relative;

        svg {
          height: 20px;
        }

        .FillLayer {
          fill: $color-n300;
          transition: fill 0.25s;
        }

        &:hover {
          .FillLayer {
            fill: $color-brand-2;
          }

          .StrokeLayer {
            stroke: $color-brand-2;
          }
        }

        &.active {
          .tooltip {
            opacity: 1;
            top: $toolbar-height;
            z-index: 50;
          }

          .FillLayer {
            fill: $color-brand-2;
            transition: fill 0.3s;
          }

          .StrokeLayer {
            stroke: $color-brand-2;
            transition: stroke 0.3s;
          }
        }

        &.reload {
          &.fetching {
            animation: spin 5s infinite linear;
          }
        }

        &.rewrite {
          .StrokeLayer {
            stroke: $color-n100;
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
            stroke-width: 5px;
            transition: stroke 0.2s, stroke-width 0.3s;
          }

          &.fetching .StrokeLayer {
            animation: fetching 10s linear infinite;
            stroke-dasharray: 145;
          }
        }
      }

      .tooltip {
        background: $color-n100;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        display: block;
        left: 7px;
        line-height: 1.65;
        opacity: 0;
        padding: 15px;
        position: absolute;
        text-align: left;
        top: -100vh;
        min-width: 250px;
        max-width: 500px;
        transition: opacity 0.3s;
        width: 100%;
        z-index: -1;

        &::before {
          border-color: transparent transparent $color-n100 transparent;
          border-style: solid;
          border-width: 6px;
          content: ' ';
          left: 10px;
          margin-left: -5px;
          position: absolute;
          top: -12px;
        }
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  @keyframes fetching {
    0% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 300;
    }
  }
}
