/** @format */
@import './_variables';

.WelcomeScreen {
  @extend .Main;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 2rem;

  .Logo {
    display: block;
    margin: 1rem auto;
    width: 25rem;

    .path {
      animation: logo 2s linear forwards;
      animation-delay: 0.5s;
      stroke-dasharray: 320;
      stroke-dashoffset: 320;
    }
  }

  .text {
    padding: 2rem 0;
  }

  .terms {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 0 2rem 0;
      position: relative;
    }

    label {
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      line-height: 2.5rem;
      padding: 0 0 0 4rem;
      position: relative;
      transition: color 0.3s;
      vertical-align: top;
      font-size: 14px;

      &::before {
        border: 2px solid $color-brand-1;
        content: '';
        transition: opacity 0.3s;
      }
    }

    svg {
      height: 1.8rem;
      left: 0.3rem;
      margin-top: -1.7rem;
      pointer-events: none;
      position: absolute;
      top: 50%;
      width: 1.8rem;

      .path {
        animation: scribble 0.5s linear forwards;
        fill: none;
        stroke: $color-n800;
        stroke-dasharray: 1009;
        stroke-dashoffset: 1009;
        stroke-width: 8px;
        transition: stroke-dashoffset 0.8s ease-in 0s;
      }
    }


    input[type='checkbox'],
    input[type='radio'],
    label::before {
      cursor: pointer;
      height: 2rem;
      left: 0;
      margin-top: -1rem;
      position: absolute;
      top: 50%;
      width: 2rem;
    }

    input[type='checkbox'],
    input[type='radio'] {
      display: inline-block;
      opacity: 0;
      vertical-align: middle;
      z-index: 100;
    }

    input[type='checkbox']:checked+label::before,
    input[type='radio']:checked+label::before {
      border-color: $color-brand-3;
      opacity: 1;
    }
  }

  .analytics-main {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;
    overflow: hidden;

    .improvements-circle {
      height: 140px;
      width: 140px;
      border-radius: 80px;
      position: absolute;
      z-index: 1;
      background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
      animation: fadeIn 1.5s ease-in-out forwards;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 120px;
      flex-direction: column;
      font-weight: 600;
      font-size: 17px;

      .percentage {
        font-size: 28px;
        margin-bottom: 20px;
        color: $color-n0;
      }

      .improvement-text {
        font-size: 15px;
        color: $color-n0;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      .reaction-emoji {
        font-size: 30px;
      }
    }

    .js-plotly-plot .plotly .main-svg {
      height: 506px;
      width: fit-content;
    }
  }

  .settings-text {
    font-family: 'Fraunces', serif;
    margin-bottom: 10px;
  }

  .analytics-text {
    font-family: 'Fraunces', serif;
  }
}

@keyframes scribble {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes logo {
  to {
    stroke-dashoffset: 240;
  }
}

.popup-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  font-family: "Verdana", sans-serif;

  &.open {
    display: flex;
  }

  .popup {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 450px;
    transition: opacity 0.3s ease-in-out;
    padding: 25px 20px;

    h1 {
      color: #ff5c38;
      font-size: 25px;
    }

    p {
      margin: 20px 0;
      font-size: 16px;
      line-height: normal;
    }

    .button-container {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      button {
        background-color: #ff5c38;
        border-radius: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        color: #fdfdfd;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 0.5px;
        padding: 12px 20px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}