/** @format */

:root {
  --color-n100: #fffcf5;
  --color-n200: #fcf7eb;
  --color-n300: #eee9de;
  --color-n400: #d9ceb8;
  --color-n500: #c8bca6;
  --color-n600: #ada18a;
  --color-n700: #7d7970;
  --color-n800: #4e4c48;
  --color-n900: #242321;

  --color-brand-0: #4e4c48;
  --color-brand-1: #e05845;
  --color-brand-2: #faec2e;
  --color-brand-3: #0eaf96;
}

body,
html {
  background: var(--color-n100);
  font-size: 10px;
}

.App {
  padding: 4rem;
}

.Logo {
  background: none;
  border: none;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.Logo .path {
  animation: traceBackwards 3s linear forwards;
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
}

.Logo:hover .path {
  animation: traceForwards 3s linear forwards;
  stroke-dashoffset: 320;
}

.Logo.loading .path {
  animation: traceLoop 3s linear infinite;
}

@keyframes traceLoop {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 320;
  }
}

@keyframes traceForwards {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes traceBackwards {
  to {
    stroke-dashoffset: 320;
  }
}

.editor {
  font-size: 1.6rem;
  outline: none;
  position: absolute;
  left: 3rem;
  right: 3rem;
  top: 3rem;
  bottom: 3rem;
}
