@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;1,9..144,100&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import '../../../../common/src/assets/styles/variables';

$font-header: 'Fraunces, serif';
$font-body: 'Poppins, sans-serif';


html, body {
  background-color: $color-n100;
  font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
}